.container {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 80px auto;
    grid-template-areas: 
    " header header"
    " map cont";
}    

.header{
    grid-area: header;
    background-color: aquamarine;
}

.siteMap {
    grid-area: map;
    background-color: bisque;
}
.content {
    grid-area: cont;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}